[submodule "pyMuellerMat"]
	path = pyMuellerMat
	url = https://github.com/maxwellmb/pyMuellerMat.git
	branch = physical_models
[submodule "scexao_calibration/pyMuellerMat"]
	path = scexao_calibration/pyMuellerMat
	url = https://github.com/maxwellmb/pyMuellerMat.git
	branch = physical_models
[submodule "scexao_polcal/pyMuellerMat"]
	path = scexao_polcal/pyMuellerMat
	url = https://github.com/maxwellmb/pyMuellerMat.git
	branch = physical_models
